.details {
  font-size: 1.5rem;
  animation-duration: 1.8s;
  color: #64ffe3bb;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 10%;
  width: 65%;
  text-align: justify;
  animation-name: slidein;
}

@media (max-width: 800px) {
  .details {
    width: 90%;
    text-align: left;
    animation: none;
  }
}

@keyframes slidein {
  from {
    margin-left: 100%;
    opacity: 0;
  }

  to {
    margin-left: 0%;
    opacity: 1;
  }
}
