.headings {
  margin-bottom: 1.5rem;
  font-size: 5rem;
  animation-duration: 1.8s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
    opacity: 0;
  }

  to {
    margin-left: 0%;
    width: 100%;
    opacity: 1;
  }
}